version: 2.1
jobs:
    build-and-test:
        machine:
            image: ubuntu-2004:current
        steps:
            - checkout
            - run: make deps
            - run: make test
            - run: make lint
            - run: make docker_build
            - run: make docker_push
workflows: 
    basic:
        jobs:
            - build-and-test